
.pagination{
  --bs-pagination-font-size: inherit;
}

.custom-pagination{

  .page-item{
    margin-right: .2rem;
  }

  .page-item.active{
    .page-link{
      color: white;
      background-color: #69ab25 !important;
      //background: #0d6efd !important;
      //background: #0d6efd !important;
    }
  }

  .page-item.disabled{
    background: transparent !important;

    .page-link{
      background: transparent !important;

      color: #dedddd;
    }
  }

  .page-link{
    //color: #4a4a4a;
    color: #69ab25;
    border: none;
    border-radius: 8px;


    background: transparent;

    box-shadow: none;

    &:focus, &:focus-within{
      //background: n;
    }
    //padding: 0.2rem 1rem;
  }
}
