<div class="row">
  <div class="col-xxl-9 col-sm-12" >
    <app-chart-statistic
      [options]="options"
      [data]="chartData"
      (clicked)="chartClicked($event)">

    </app-chart-statistic>
  </div>
  <div class="col-xxl-3 col-sm-12 border-left " >
    <div class=" summary">
      <p class=" mb-2 fw-bold">{{data.domain}} :</p>
      <div class="so-summary-others" *ngIf="clicked">
        <span class="so-circle"></span>
        <div class="ms-4">
          <label class=" mb-0">{{clicked.label}}</label>
          <div class="" style="font-size: 14px;">
            <span >{{clicked.data | number:'.3-3'}} </span>
            <span class="fw-bolder">{{data.unit}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
