<div class="row">
  <div class="col-xxl-12 col-xl-12 col-md-12">
    <div class="week-options d-flex col-5 col-sm-12 mb-3 justify-content-center">
      <ngx-skeleton-loader
        count="5"
        appearance="circle"
        [theme]="{
          'border-radius': '0.75rem'
        }"
      ></ngx-skeleton-loader>
    </div>
<!--    <div class="row">-->
<!--      <div class="col-xxl-9">-->
<!--        <ngx-skeleton-loader-->
<!--          [theme]="{-->
<!--            height: '18rem'-->
<!--          }"-->
<!--        ></ngx-skeleton-loader>-->
<!--      </div>-->
<!--      <div class="col-xxl-2">-->
<!--        <ngx-skeleton-loader></ngx-skeleton-loader>-->
<!--      </div>-->
<!--    </div>-->
    <app-skeleton-date-statistic></app-skeleton-date-statistic>
  </div>
</div>
