<div class="modal-header d-flex justify-content-between">
  <div>
    <p cModalTitle class="fw-semibold fs-18">Confirmation</p>
  </div>
</div>
<div class="modal-body">
<!--  <p>Etes-vous sûr d'effectuer cette action ?</p>-->
  <p>Are you sure to perform this action?</p>
</div>
<div class="modal-footer">
  <div class="d-flex">
    <button class="btn bg-secondary-subtle text-secondary" type="button" (click)="cancel()">Cancel</button>
    <button class="btn btn-danger ms-3" type="button" (click)="valid()">Confirm</button>
  </div>
</div>
