<div class="d-flex align-items-center">
  <a href="/apps/crm/lead-details#tasks">
    <div class="me-3 avatar avatar-xl">
      <img [src]="this.data.image" alt="avatar" class="rounded-circle">
    </div>
  </a>
  <div>
    <a class="fs-8 fw-bold" [routerLinkActive]="''">{{this.data.label}}</a>
    <div class="d-flex align-items-center">
      <p class="mb-0 text-1000 fw-semi-bold fs-9 me-2">System Admin</p>
      <span class="badge-phoenix badge-phoenix-secondary badge">Canceled</span>
    </div>
  </div>
</div>
